node_modules
.next
out
build
coverage
npm-debug.log*
.git
.gitignore
.github
.husky
.env
.env*.local
.localsecrets
.vercel
.vscode
.idea
*.tsbuildinfo
Dockerfile
.dockerignore
docker-compose.yml
README.md
docs
**/*.test.ts
